src/config.json
src/config.js
src/google-code_v1.gs.js
src/example/**

node_modules
.env
.env.development

# Local Netlify folder
.netlify

test-abrir-chamado
abrirchamado
src/crypto-js.js
src/example/app-script-abrirchamado_v27.gs.js
src/inventario-fazer-copy.html
src/components/header copy.js
