src/config.json
src/config.js
src/example/**

node_modules
.env
.env.development

# Local Netlify folder
.netlify

# Firebase Studio
.idx/


src/components/index.js
src/components/lista_insumos.js
src/components/lista_unidades.js
