src/config.json
src/config.js
src/google-code_v1.gs.js
src/example/config.js
src/example/config.json
src/example/code-appscript_v18.gs.js
src/example/code-appscript_v1.gs.js
src/example/code-appscript_v10.gs.js
src/example/code-appscript_v16.gs.js

node_modules
.env
.env.development

# Local Netlify folder
.netlify

test-abrir-chamado
abrirchamado
src/crypto-js.js
src/example/app-script-abrirchamado_v27.gs.js
