#div_print {
    margin-bottom: 10px;
}

#div_principal {
    display: flex;
}

#div_left {
    padding-left: 5px;
}

#div_right {
    width: 100%;
}

#nota {
    margin: 15px 0px 2px 0px;
    text-align: center;
}

input {
    width: 100%; /* Faz com que o input ocupe 100% da largura da célula */
    box-sizing: border-box; /* Inclui a largura da borda e do padding no tamanho total do elemento */
    border-style: none;
}

input.input_unidade {
    width: 50%;
}

input.input_distrito {
    width: 15%;
}

input.input_data_pedido {
    width: 72%;
}

input.input_grupo {
    width: 50%;
}

input.input_funcionario {
    width: 60%;
}

input:hover {
    background-color: rgb(207, 240, 207);
}

input:focus {
    background-color: rgb(195, 232, 244);
}

.tr_hidden {
    display: none;
}

table {
    width:100%
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  height: 19px;
}

#table_header tbody tr th {
    text-align: initial;
    padding: 3px;
}

#table_autorizo_fornecimento thead tr th {
    text-align: initial;
    padding: 3px;
}

#table_controle_estoque tbody tr th {
    text-align: initial;
    padding: 0px;
}

#table_total tbody tr th {
    text-align: initial;
    padding: 1px 0px 0px 130px;
}

#header_distrito_data {
    width: 100%;
    display: flex;
}

#div_distrito {
    width: 40%;
}

#div_data {
    margin-left: 5%;
    border-left: solid 1px;
    padding-left: 3px ;
}

.item {
    width: 2%;
}

.unid {
    width: 2%;
}

.codigo {
    width: 2%;
}

td.td__especificacao {
    width: 45%; 
    padding: 0;
}

td.td__quant_pedida {
    width: 2%; 
    padding: 0;
}

td.td__quant_fornecida {
    width: 5%; 
    padding: 0;
}

.q_fornecida {
    width: 2%;
}

.p_m_unitario {
    width: 2%;
}

.v_total {
    width: 2%;
}   

#imprimirButton {
    background-color: #efefef; /* Cor de fundo padrão */
    cursor: pointer; /* Cursor de mão quando o mouse passa sobre o botão */
}

#imprimirButton:hover {
    background-color: #92b5db; /* Cor de fundo ao passar o mouse */
}

#toggleButton {
    background-color: #efefef;
    cursor: pointer;
}

#toggleButton:hover {
    background-color: #abeb9c;
    cursor: pointer;
}


