#div_print{
    margin-bottom: 5px;
}

#div_left{
    padding-left: 5px;
}

#nota{
    margin: 15px 0px 2px 0px;
    text-align: center;
}

input{
    width: 100%; /* Faz com que o input ocupe 100% da largura da célula */
    box-sizing: border-box; /* Inclui a largura da borda e do padding no tamanho total do elemento */
    border-style: none;
}

input:focus {
    background-color: lightblue;
}

table{
    width:100%
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  height: 18px;
}

#table_header tbody tr th{
    text-align: initial;
    padding: 3px;
}

#table_autorizo_fornecimento thead tr th{
    text-align: initial;
    padding: 3px;
}

#table_controle_estoque tbody tr th{
    text-align: initial;
    padding: 0px;
}

#table_total tbody tr th{
    padding: 0px;
}

#header_distrito_data{
    display: flex;
}

#data{
    margin-left: 40%;
    border-left: solid 1px;
    padding-left: 3px ;
}

.item{
    width: 2%;
}

.unid{
    width: 2%;
}

.codigo{
    width: 2%;
}

td.td__especificacao {
    width: 45%; 
    padding: 0;
}

td.td__quant_pedida {
    width: 2%; 
    padding: 0;
}

td.td__quant_fornecida {
    width: 5%; 
    padding: 0;
}

.q_fornecida{
    width: 2%;
}

.p_m_unitario{
    width: 2%;
}

.v_total{
    width: 2%;
}

#div_principal{
    display: flex;
}

#div_right{
    width: 100%;
}