@media print {
    html,
    body {
        margin: 0;
        padding: 0;
        border: 0;
    }
    #docPrint {
        margin: 2px;
        padding: 2px;
        border: 0;
    }
    #docPrint ~ * {
        display: none;
    }
}

body {
    font-size: 12px;
}

#docPrint {
    margin-bottom: 10px;
}

#divPrincipal {
    display: flex;
}

.title-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#titleCenter {
    margin: 15px 0px 2px 0px;
    text-align: center;
    flex-grow: 1;
}

.image-sus{
    width: 40px;
    height: auto;
}

#divRight {
    width: 100%;
}

#divLeft {
    padding-left: 5px;
}

input {
    width: 100%;
    /* Faz com que o input ocupe 100% da largura da célula */
    box-sizing: border-box;
    /* Inclui a largura da borda e do padding no tamanho total do elemento */
    border-style: none;
}

input.input_unidade {
    width: 60%;
    text-transform: uppercase;
}

input.input_distrito {
    width: 15%;
    text-transform: uppercase;
}

input.input_data_pedido {
    width: 72%;
    text-transform: uppercase;
}

input.input_grupo {
    width: 50%;
    text-transform: uppercase;
}

input.input_funcionario {
    width: 60%;
    text-transform: uppercase;
}

input:hover {
    background-color: rgb(207, 240, 207);
}

input:focus {
    background-color: rgb(195, 232, 244);
}

.tr_hidden {
    display: none;
}

table {
    width: 100%
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 19px;
}

#tableHeader tbody tr th {
    text-align: initial;
    padding: 3px;
}

#tableAutorizoFornecimento thead tr th {
    text-align: initial;
    padding: 3px;
}

#tableControleEstoque tbody tr th {
    text-align: initial;
    padding: 0px;
}

#tableTotal tbody tr th {
    text-align: initial;
    padding: 0px 0px 0px 130px;
}

#headerDistritoDate {
    width: 100%;
    display: flex;
}

#divDistrito {
    width: 40%;
}

#divDate {
    margin-left: 5%;
    border-left: solid 1px;
    padding-left: 3px;
}

.item {
    width: 2%;
}

.unid {
    width: 2%;
}

.codigo {
    width: 2%;
}

td.td__especificacao {
    width: 45%;
    padding: 0;
}

td.td__quant_pedida {
    width: 2%;
    padding: 0;
}

td.td__quant_fornecida {
    width: 5%;
    padding: 0;
}

.q_fornecida {
    width: 2%;
}

.p_m_unitario {
    width: 2%;
}

.v_total {
    width: 2%;
}

#buttons input {
    height: 35px;
    margin-top: 10px;
}

#imprimirButton {
    background-color: #efefef;/* Cor de fundo padrão */
    cursor: pointer; /* Cursor de mão quando o mouse passa sobre o botão */
}

#imprimirButton:hover {
    background-color: #92b5db;
    /* Cor de fundo ao passar o mouse */
}

#toggleButton {
    background-color: #efefef;
    cursor: pointer;
}

#toggleButton:hover {
    background-color: #abeb9c;
    cursor: pointer;
}

/* Estilo para ocultar o elemento na exibição normal */
.print-hidden {
    display: none;
}

/* Estilo para exibir o elemento na página de impressão */
@media print {
    .print-hidden {
        display: block !important;
    }
}