.div__card {
    margin: 10px; 
    border: solid 1px;
    border-radius: 5px;
    padding: 4px;    
}

.d__none {
    display: none;
}

#atualizar{
    margin: 5px 2px;
    border-radius: 10px;
}

.button-container button {
    margin: 2px;
    border-radius: 10px;
}

.btn__todos {
    
}

.btn__crianca {
    background-color: #198754;
    color: white;
    border-color: #198754;
}

.btn__adolescente {
    background-color: #fd7e14;
    color: white;
    border-color: #fd7e14;
}

.btn__adulto {
    background-color: #0d6efd;
    color: white;
    border-color: #0d6efd;
}

.btn__idoso {
    background-color: #0dcaf0;
    color: white;
    border-color: #0dcaf0;
}

.btn__gestante {
    background-color: #d63384;
    color: white;
    border-color: #d63384;
}

.div__content {
    margin: 10px;
}

.btn__1 {
    color: #198754;
    border-color: #198754;
}
.btn__2 {
    color: #fd7e14;
    border-color: #fd7e14
}
.btn__3 {
    color: #0d6efd;
    border-color: #0d6efd;
}
.btn__4 {
    color: #0dcaf0;
    border-color: #0dcaf0;
}
.btn__5 {
    color: #d63384;
    border-color: #d63384;
}

.btn__1:hover {
    background-color: #198754;
    color: white;
    border-color: #198754;
}
.btn__2:hover {
    background-color: #fd7e14;
    color: white;
    border-color: #fd7e14;
}
.btn__3:hover {
    background-color: #0d6efd;
    color: white;
    border-color: #0d6efd;
}
.btn__4:hover {
    background-color: #0dcaf0;
    color: white;
    border-color: #0dcaf0;
}
.btn__5:hover {
    background-color: #d63384;
    color: white;
    border-color: #d63384;
}

.wide-column {
    /* width: 600px;  */
}