.div__card {
    margin: 10px; 
    border: solid 1px;
    border-radius: 5px;
    padding: 4px;    
}

.d__none {
    display: none;
}

#atualizar{
    margin: 5px 2px;
}

.button-container button {
    margin: 2px;
}