table,
th,
td {
  margin: 10px 0;
  border: solid 1px #333;
  padding: 2px 4px;
  font: 15px Verdana;
}

.list-group-item:hover {
  background-color: paleturquoise;
}

th {
  font-weight: bold;
}

.div__buttons {
    display: flex;
    justify-content: center;
}

.div__show-data {
    display: flex;
    justify-content: center
}
