table,none
th,
td {
  margin: 10px 0;
  border: solid 1px #333;
  padding: 2px 4px;
  font: 15px Verdana;
}

.span__list-group-item:hover {
  background-color: paleturquoise;
}

th {
  font-weight: bold;
}

.div__buttons {
    display: flex;
    justify-content: center;
}

.div__show-data {
    display: flex;
    justify-content: center
}

.modal-body label {
  color: rgba(var(--bs-body-color-rgb),.65);
  transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
}

.div__quantidade {
  /* background: green; */
  border-radius: 5px;
  border: solid 1px;
  border-color: #dee2e6;
  /* margin: 0px 0px; */
  height: 58px;
  align-items: center;
}

.input__quantidade {
  text-align: center;
  border: none;
  width: 100px;
}

/* remover botões de incremento/decremento que aparecem automaticamente em campos de input do tipo number */
.input__quantidade::-webkit-inner-spin-button,
.input__quantidade::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn__quantidade {
  border: none;
  background-color: transparent;
  font-weight: bold;
}

.btn__quantidade:active {
  border: none;
  outline: none;
}

.btn__quantidade:focus-visible {
  border: none;
  outline: none;
}

.ul__produtos li.selected {
  background-color: rgb(58, 221, 218) !important;
}

li:hover {
  background-color: DodgerBlue !important ;
  color: #ffffff !important; 
}

.li__input-options-produtos {
  cursor:pointer;
  border-bottom: groove;
}

/* .li__input-options-produtos::marker {
  color: black;
} */

.div__message-response {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  margin-top: 30px;
  z-index: 2
}

.div__inner-message {
  margin: 0 auto;
}

.div__loading-data {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 5px;
  margin-top: 30px;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.btn__search:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}

.select__show-data {
  width: 180px;
  margin-inline: auto;
}

.btn__update {
  background-color: transparent;
  border: transparent;
}

table.dataTable thead>tr>th.sorting {
  font-size: xx-small;
}

#productTable  
th:nth-child(5), td:nth-child(5),
th:nth-child(7), td:nth-child(7) {
  text-align: center;
  font-family: monospace;
}

.tr__modificado {
  --bs-table-bg: lightgreen;
}