body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%; 
    max-width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    font-size: medium;    
}

textarea {
    width: 100%;
    height: 80px;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    resize: vertical;
    font-size: large;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 8px;
}

.btn__remove_item {
    background-color: red;
    color: white;
    margin-right: 15px;
}

.btn__remove_item:hover {
    background-color: rgb(228, 2, 2);
    color: white;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 8px;
}

.hidden {
    display: none;
}

.chamado-element {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: aliceblue;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

.main__container{
    margin: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.msg__aguarde {
    display: none;
    margin-top: 190px;
}

#msgResponse {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%; 
    max-width: 100%;
    text-align: center;
    height: 300px;
    margin-top: 90px;
}

#msgResponse a {
    text-decoration: none;    
    font-weight: bold;
}

.enviar__chamado {
    background-color: #0091e5;
    margin-left: auto;
    margin-top: auto;
    display: block;
}
.enviar__chamado:hover {
    background-color: #1ea1ed;
}

.div__solicitante {
    margin-top: 30px;
}

.div__solicitante #unidade {
    text-transform: uppercase !important;
}

.div__solicitante #email {
    text-transform: lowercase !important;
    margin-bottom: 5px;
}

.div__solicitante span{
    color: grey;
}

#divAddItensAoChamado {
    margin-top: 20px;
}

#btnMostrarFormulario {
    margin-top: 15px;
}