body {   
    font-size: 12px;
}

.navbar {
    padding-inline: 5%;
}

@media (max-width: 992px) {
    .navbar {
        padding-inline: 0%;
    }
}

.nav-link { /* navbar */
    font-size: 16px;
}

#docPrint {
    margin-bottom: 10px;
}

#divPrincipal {
    display: flex;
}

.title-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#titleCenter {
    margin: 15px 0px 2px 0px;
    text-align: center;
    flex-grow: 1;
}

.img-left{
    width: 40px;
    height: auto;
}

.img-right{
    width: 35px;
    height: auto;
}

#divRight {
    width: 100%;
}

#divLeft {
    padding-left: 3px;
}

input {
    width: 100%;   
    box-sizing: border-box;
    border-style: none;
    background-color: cornsilk;
}

.div__label_input{
    display: flex; 
    position: relative; 
    height: 100%;
    box-sizing: border-box;
}

.div__label {
    min-width: fit-content; 
    align-self: center;
}

input.input_unidade {
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    height: -webkit-fill-available;
}

input.input_distrito {
    margin-left: 3px;
    width: 20%;
    text-transform: uppercase;
    height: -webkit-fill-available;
}

input.input_data_pedido {
    margin-left: 3px;
    width: 78%;
    text-transform: uppercase;
    height: -webkit-fill-available;
}

input.input_grupo {
    width: 100%;
    text-transform: uppercase;
    height: -webkit-fill-available;
}

input.input_funcionario {
    width: 100%;
    text-transform: uppercase;
    height: -webkit-fill-available;
}

input:hover {
    background-color: rgb(207, 240, 207);
}

input:focus {
    background-color: rgb(195, 232, 244);
}

.tr_hidden {
    display: none;
}

table {
    width: 100%
}

table,
th,
td {
    border: 1.8px solid black;
    border-collapse: collapse;
    height: 19px;
}

#tableHeader{
    height: 109px;
    margin: 0px;
}

#tableHeader tbody tr th {
    text-align: initial;
    padding: 0 0 0 3px;
    height: 26px !important;
}

th {
    height: 21px !important;
}
tr {
    height: 21px !important;
}

.table_autorizador_fornecimento {
    background: white;
    height: 109px;
}

.table_autorizador_fornecimento thead tr th {
    text-align: initial;
}

.table_autorizador_fornecimento thead tr:nth-child(2) {
    height: 49px !important;
    text-align: initial;
    vertical-align: text-bottom;
}

#tableControleEstoque tbody tr th {
    text-align: initial;
    padding: 0px;
}

.table__total {
    height: 80px;
}

.table__total tbody tr th {
    text-align: initial;
    padding: 0px 0px 0px 90px;
}

.table__total tr:nth-child(2) {
    background-color: white;
    height: 56px;
}

th.th__distrito_date {
    position: relative !important;
}

#headerDistritoDate {
    width: 99%;
    display: flex;
    height: 100%;
    position: absolute;
}

#divDistrito {
    width: 40%;
    display: flex;
    place-items: center;
}

#divDate {
    display: flex;
    place-items: center;
    margin-left: 5%;
    border-left: solid 1px;
    padding-left: 3px;
}

#divDateShowPrint{
    display: flex;
    place-items: center
}

.item {
    width: 2%;
    text-align: center;
}

.unid {
    width: 2%;
}

.codigo {
    width: 2%;
}

td.td__especificacao {
    width: 45%;
    padding: 0;
}

td.td__especificacao input {
    font-size: x-small;
    font-weight: bold;
    height: inherit;
}

td.td__quant_pedida {
    width: 2%;
    padding: 0;
}

td.td__quant_pedida input {
    text-align: center;
}

.q_fornecida {
    width: 1%;
}

.p_m_unitario {
    width: 2%;
}

.v_total {
    width: 2%;
}

#buttons {
    display: grid;
    justify-content: center;   
}

.tipo__pedido{
    display: inline-flex;
    width: 350px;
    place-items: center;
    place-self: center;
    margin-top: 0px;
}

.tipo__pedido > span {
    width: 700px;
    text-align: right;
}

.tipo__pedido > input {
    width: 50px;
    margin-top: 0px !important;
}

#buttons input {
    height: 35px;
    width: 380px;
    margin-top: 10px;
    background-color: #0091e5;
    color: white;       
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

.btn__clear {
    border-radius: 5px;
    width: 380px !important;
    height: 35px !important;
    font-weight: bold;
    margin-top: 10px;
    font-size: inherit;
    text-transform: uppercase;
}

#buttons input:hover {
    background-color: #0033ff;
    cursor: pointer;
}

#btnSendSpreadsheet {
    background-color: #5cebdf !important;
    color: black !important;
    cursor: pointer; /* Cursor de mão quando o mouse passa sobre o botão */
}

#btnSendSpreadsheet:hover {
    background-color: #32E6E2 !important; /* Cor de fundo ao passar o mouse */
}

#btnSendSpreadsheet:active {
    background-color: rgb(160, 160, 159) !important;
      color: black;
}

#btnSendSpreadsheet:disabled {
    background-color: #999999 !important;
    color: #ffffff;
}

/* #toggleButton:hover {
    background-color: #263ea1 !important;
} */

.full-content {
    display: grid;
    grid-template-columns: minmax(0px, 15%) 1fr minmax(0px, 15%);
}

.dashboard-sidebar {
    background-color: white
}

.right-sidebar {
    background-color: white
}

.show-in-print {
    display: none !important;  /* ocultar o elemento na exibição normal */
}

.hidden-in-print {
    display: block;
}

/* Estilo para exibir o elemento na página de impressão */
@media print {
    html,
    body {
        margin: 0;
        padding: 0;
        border: 0;
    }
    .show-in-print {
        display: block !important;
    }
    .hidden-in-print {
        display: none !important;
    }
    .full-content {
        display: inline;
    }
    #docPrint {
        margin: 0;
        padding: 0px 2px 0px 0px;
        border: 0;
    }
    #docPrintClone {
        margin-top: 30px;
    }
    #docPrint ~ * {
        display: none;
    }
    #buttons {
       display: none !important;   
    }
    header, footer {
        display: none !important;
    }
    input {
        width: 100%;   
        box-sizing: border-box;
        border-style: none;
        background-color: transparent;
    }
    #divLeft {
        display: block !important;
    }
}

@media screen and (max-width: 600px) {
    #tableItens 
    th:nth-child(2), td:nth-child(2),
    th:nth-child(3), td:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    #divLeft, #divControleEstoque{
        display: none;
    }
}

@page {
    size: A4;
    margin: 1cm;
    counter-increment: page;
}

  /* Estilo específico para o Firefox usando um seletor de atributos */
.browser__style[data-navegador="firefox"] {
    font-size: 11px;    
    table, th, td {
        border: 0.12rem solid black !important;
        border-collapse: collapse !important;
    }
    td{
        height: 18px;
    }
    html,
    body {
        margin: 0;
        padding: 0;
        border: 0;
    }
}

input { 
    text-transform: uppercase;
}

#divLeft {
    display: none;
}

@media screen and (min-height: 690px) and (max-height: 700px) {
    #divLeft {
        display: block;
    }
}
@media screen and (min-width: 1200px) and (min-height: 700px) {
    .div_center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #docPrint {
        width: 60%;
    }
}

::-webkit-input-placeholder { /* WebKit browsers */
text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
text-transform: none;
}

.div__loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

#messageValidateSending {
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.message__success {
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 10px;
    border-radius: 5px;
    color: #0f5132; 
    background-color: #d1e7dd;
    border-color: #badbcc;
    height: auto; 
    text-align: center; 
    display: grid;
}

.message__error {
    background-color: #f8d7da;
    color: #842029;
    height: auto;
    text-align: center; 
    display: grid;
}